* {}
html { width:100%; margin:0; padding:0; border:0;}
body { background:#123; font-size:12px; font: 12px/14px \5FAE\8F6F\96C5\9ED1,\5B8B\4F53,"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; width:100%;   position:relative; }
/*== reset font ==*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal; }
li { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
q:before, q:after { content:''; }
abbr, acronym { border:0; font-variant:normal; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input, textarea, select { font-family:inherit; font-size:inherit; font-weight:inherit; }
input, textarea, select { *font-size:100%;}
legend { color:#000; }
table { font-size:inherit; font:100%; }
pre, code, kbd, samp, tt { font-family:monospace; *font-size:108%; line-height:100%; }
/*== reset font ==*/
/*== clear fix ==*/
.clearfix:after { content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
.clearfix {
  *zoom: 1;
  zoom:1; overflow:hidden; line-height:0px; height:0px; font-size:0; clear:both;
}
a { outline:none; text-decoration:none;  }

/*==gz wp vote==*/
body { padding:20px 0;}
.hide { display: none;}
.postbox { margin: 0 auto; width:930px; height:460px; 
	box-shadow: -3px -3px 10px 2px rgba(0,0,0,.3) inset,
	0 0 0 1px rgba(0,0,0,.5),
	2px 2px 10px rgba(0,0,0,.6);
	border-radius: 5px;
	position:relative; 
	background:url(gzvote-bg.jpg) center 0 ;
 }
.postvotebox { padding: 0 25px; position: relative;width:870px; height:460px; color:#fff;}
.postvotebox .votemark { width:100%; position: absolute; top:28px; font-size:46px; line-height:46px; padding-left:8px; font-weight:bold; }
.postvotebox .votedate { position: absolute; right:20px; top:55px; font-size:22px;line-height:22px; width:200px; text-align:right;}
.postvotebox .votetitle { position: absolute;  top:110px; font-size:22px; line-height:48px; padding-left:14px; text-shadow: 2px 2px 5px rgba(0,0,0,.8);}
.postvotebox .votenav { position: absolute; width:208px; height:40px; border-radius: 0 0 8px 8px; background:#fff100; top:-1px; right:14px; text-align:right; 
line-height:40px; font-size:24px; padding-right:10px;
box-shadow: 2px 2px 5px rgba(0,0,0,.4);
}
.postvotebox .votebody { clear: both; position: absolute; width:900px; height:300px; top:160px;  }
.voteitem { width:433px; height:260px; display: block; float: left; margin-right: 10px; position: relative;}
.voteitem + .voteitem { margin: 0;}
.voteitem a { width:433px; height:260px; display: block;}
.itemname { font-size:25px; line-height:60px; color:#fff; padding-left:20px;text-shadow: 2px 2px 5px rgba(0,0,0,.8);}
.voteitem .style01 { border-radius: 5px; width:433px; height:214px;}


.voteresult { width:876px; height:359px; position: relative;}
.resultbox, .loading { width:222px; height:106px; position: absolute; top:35px; left:327px;
	border-radius: 5px;
	background: #111;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=90);
	color: #FFF;
	z-index:999;
}
.loading { line-height:106px;text-align:center; }
.resultbox .resulinfo { display: block;  font-size: 22px; line-height:22px; width:111px; text-align: center; font-weight:bold;}
.resultbox .title { padding: 20px 0 0; }
.resultbox .left , .resultbox .right { float: left; padding: 20px 0 0;}
.resultbox .right { }
.resultbox .winner { }
.note { color: #fff100; }
.blur {}
.mark {  display:none; background: #ddd;width:433px; height:214px; position: absolute; z-index:9; pointer-events: none; top:0px;}
.notfuct { 	-webkit-filter: contrast(30%);-webkit-filter: blur(2px); -webkit-filter: sepia();}
.notfuct .mark { display:block; opacity: 0.6;	-moz-opacity: 0.6;	filter:alpha(opacity=60); border-radius: 5px;}
